<!doctype>

<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.8.0/okta-auth-js.min.js" type="text/javascript"></script>
    </head>

    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                var authClient = new OktaAuth({
                    url: {{json oktaUrl}},
                    clientId: {{json oktaClientId}},
                    redirectUri: {{json loginUrl}}
                });

                authClient.token.parseFromUrl()
                    .then(function(token) {
                        return Promise.resolve(authClient.token.verify(token));
                    })
                    .then(function(token) {
                        document.cookie = 'okta_token='+token.idToken;
                        window.location.href = {{json baseUrl}}
                    })
                    .catch(function(err) {
                        // invalid / no token set
                        setTimeout(authClient.token.getWithRedirect, 3000);
                    });
            });
        </script>
    </body>
</html>